*{margin:0;padding:0;}
body{
    background:gray url(./wall.jpg) no-repeat center center;
    background-size:cover;
}
main{
    text-align:center;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.content{
    display: inline-block;
    background:rgba(255,255,255,0.4);
    border-radius:8px;
}
.content kbd{
display:inline-block;
border:1px solid #000;
text-transform:uppercase;
margin-left:2px;
position:relative;
left:0;
top:0;
}
.content kbd button{
position:absolute;
right:2px;
bottom:2px;
font-size:12px;
display:none;
}
.content kbd:hover button{
display:inline-block;
}
.content div:nth-child(3){
margin-left:-3em;
}
.row{
margin:10px;
}
.key{
width:55px;
height:45px;
background:linear-gradient(to bottom, #292929 0%,#111111 100%);
border:1px solid #373737;
color:#c5c5c5;
border-radius:8px;
box-shadow:0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;
display:inline-flex;
align-items: center;
justify-content:center;
margin:0 5px;
font-size:16px;
font-family: Helvetica;
}
.content kbd .text{
    position:absolute;
    left:6px;
    top:2px;
}
.content kbd img{
    width:16px;
    height:16px;
    position:absolute;
    left:4px;
    bottom:2px;
}
